<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework.IBM.DB2" version="6.0.2" targetFramework="net45" />
  <package id="IBM.Data.DB2.iSeries" version="7.1.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.7" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="12.1.022" targetFramework="net45" />
</packages>